body {
  background-color: white;
  padding: 0 25px 40px 25px; }

div, p, span, table, td, li, article, a, h1, h2, h3 {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

#main, #header, aside {
  max-width: 750px;
  margin: 0 auto;
  padding: 0; }

#header {
  height: 48px;
  margin: 10px auto 50px; }
  #header img {
    height: 40px;
    margin-top: 7px;
    vertical-align: middle;
    margin-bottom: 10px; }
  #header span {
    font-weight: 600;
    margin-left: 10px;
    font-size: 24px; }
  #header ul {
    list-style: none;
    padding: 0;
    display: inline-block;
    float: right; }
    #header ul li {
      font-weight: bold;
      display: inline-block;
      text-transform: uppercase;
      margin-left: 20px; }
      #header ul li a {
        text-decoration: none; }
      #header ul li a:hover {
        text-decoration: underline; }

h1, h2, h3 {
  font-weight: 400;
}

h1 a, h2 a {
  text-decoration: none; }

h1 a:hover, h2 a:hover {
  text-decoration: underline; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 20px;
  margin-top: 30px;
}

a {
  color: #06989a; }

article {
  margin-bottom: 60px;
  margin-top: 40px; }
  article p, article div, article span, article td {
    line-height: 1.5; }
  article h1 span {
    display: block;
    font-size: 12px;
    margin-bottom: 30px; }
  article p {
    margin: 16px 0; }
  article img {
    max-width: 100%; }

aside ol {
  list-style: none;
  padding: 0; }
  aside ol li {
    display: block; }

.addthis_toolbox {
  margin: 20px 0; }

#disqus_thread {
  min-height: 100px;
}

pre, code {
  background-color: #eee;
}

pre {
  padding: 8px;
  line-height: 19px;
}

code {
  padding: 3px;
  white-space: pre;
  font-size: 14px;
}
