<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="News about asciinema development and new releases">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>{{ .Title }} &middot; {{ .Site.Title }}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/site.css">

    <!-- RSS -->
    {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
</head>
<body>
  <div id="header">
    <a href="{{ .Site.BaseURL }}"><img src="/img/logo-red.svg" class="asciinema-logo" /></a>
    <span>asciinema blog</span>
    <ul>
      <li>
        <a href="https://asciinema.org/explore">Watch</a>
      </li>
      <li>
        <a href="https://asciinema.org/docs/getting-started">Record</a>
      </li>
      <li>
        <a href="https://asciinema.org/docs">Docs</a>
      </li>
      <li>
        <a href="https://fosstodon.org/@asciinema" title="Follow asciinema on Mastodon" class="icon mastodon-icon">
          {{ template "partials/mastodon-icon.svg" . }}
        </a>
      </li>
      {{ with .OutputFormats.Get "RSS" }}<li><a href="{{ .Permalink }}" title="RSS Feed" class="icon">
        {{ template "partials/rss-icon.svg" . }}
      </a></li>{{ end }}
  </div>

  <div id="main" role="main">
